.body {
  overflow: hidden;
}

#container {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content-box {
  width: 100%;
  text-align: center;
  display: flex;
  height: 100px;
}

.gameboard {
  width: 40%;
  height: 50%;
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
}

.gameboardslot {
  width: 33.3%;
  height: 33.3%;
  border: 1px solid;
  box-sizing: border-box;
  font-size: 100px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.gameboardslot:hover {
  border: 2px solid blue;
}

.player1Box,
.player2Box,
.gameAnnouncementBox {
  width: 33.3%;
  border: 1px solid;
  box-sizing: border-box;
  text-align: center;
}

/*Form styling*/
#form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-style-6 {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  background: #f7f7f7;
}
.form-style-6 h1 {
  background: #031752;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus {
  box-shadow: 0 0 5px #334680;
  padding: 3%;
  border: 1px solid #334680;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #031752;
  border-bottom: 2px solid #031752;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover {
  background: #334680;
}
